<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HtmlElements.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Nunit.Runner.Scenario" value="Resources/scenario.xml" />
    <add key="Locale" value="en-US" />
    <add key="Context.Dispose" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" culture="neutral" publicKeyToken="af08829b84f0328e" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" culture="neutral" publicKeyToken="96d09a1eb7f44a77" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.13283" newVersion="2.6.3.13283" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <!--<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
    </appender>-->
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="testing.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!-- I don't use NDC yet, maybe I'll use it when I make my tests multithreaded -->
        <!--<conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />-->
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <!--<appender-ref ref="ConsoleAppender" />-->
      <appender-ref ref="FileAppender" />
    </root>
    <logger name="HardNorth.Testing.TestProject">
      <level value="DEBUG" />
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <HtmlElements.Test.Properties.Settings>
      <setting name="browser_loadTimeout" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="browser_pollingInterval" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="browser_type" serializeAs="String">
        <value>Firefox</value>
      </setting>
      <setting name="google_service_baseurl" serializeAs="String">
        <value>http://www.google.com</value>
      </setting>
    </HtmlElements.Test.Properties.Settings>
  </userSettings>
</configuration>